In [ ]:
#Assignment
#Q.1)
name = ''' Hi How are you?
Starterd learning python.
It's really interesting.'''

print(name)

####
print(name[:])
print(name[-10:-5])
print(name[3:12])
print(name[12:3])
print(name[5:6])
print(name[-4:-12])
print(name[::2])
print(name[::-2])

 Hi How are you?
Starterd learning python.
It's really interesting.
 Hi How are you?
Starterd learning python.
It's really interesting.
teres
 How are

o

 iHwaeyu
tredlann yhn
tsral neetn.
.nteen larst
nhy nnaldert
uyeawHi

In [ ]:
#Q.2)
L1 = ['a' , 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
#a
print(L1[:])
#b
print(L1[::3])
#c
print(L1[::-2])
#d. How to extract value ‚ÄúHappy‚Äù based on index and negative index
print(L1[8])
print(L1[-2])
#e. How to check type of data in list at 4th position
print(type(L1[4]))
#f. Extract values for 100, 300, 400
print(L1[5:8])

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
['a', 30, 300, 'major']
['major', 400, 100, 30, 'b']
Happy
Happy
<class 'str'>
[100, 300, 400]

In [ ]:
#Q.3)
l2=[1,2,3,5,['a','b','work hard'],100,200,'Success']
print(l2[4])
print(l2[1:5])

print(l2[7])
print(l2[7][2])
print(l2[7][2:])
print(l2[:3])
print(l2[3:])

['a', 'b', 'work hard']
[2, 3, 5, ['a', 'b', 'work hard']]
Success
c
ccess
[1, 2, 3]
[5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [ ]:
#Q.4 From the above l2 value ‚Äòb‚Äô must be changed to ‚ÄòBEE‚Äô.
l2[4][1]='BEE'
print(l2)

[1, 2, 3, 5, ['a', 'BEE', 'work hard'], 100, 200, 'Success']

In [ ]:
#5. From l2 ‚ÄúBEE‚Äù has to discard.
l2[4].remove("BEE")
print(l2)

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success']

In [ ]:
#6. In l2 add a dictionary at the end {‚Äòinsect‚Äô: [‚Äòbee‚Äô, ‚Äòmoth‚Äô] , ‚Äòbird‚Äô : [‚Äòparrot‚Äô, ‚Äòsparrow‚Äô]}
l2.append({'insect':['bee','moth'],'bird': ['parrot','sparrow']})
print(l2)

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success', {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [ ]:
#7. From l2 extract insect information.
insect_info = l2[-1]['insect']
print(insect_info)

insect=l2[8]['insect']
print(insect)

['bee', 'moth']
['bee', 'moth']

In [ ]:
#8. Create a dictionary d1 = {‚Äòa‚Äô:10, ‚Äòb‚Äô:20, ‚Äòc‚Äô : 30} and add the d1 at 2nd position of l2
d1={'a':10,'b':20,'c':30}
l2.insert(2,d1)
print(l2)

[1, 2, {'a': 10, 'b': 20, 'c': 30}, 3, 5, ['a', 'work hard'], 100, 200, 'Success', {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [ ]:
#9. Based on new l2 created here extract the value 10 from l2 dictionary.
print(l2[2]['a'])

10

In [ ]:
#10. If l2 =[1,2,3,5, (90,40,50,10), ‚ÄòPython‚Äô, 400 ,[‚Äòa‚Äô, ‚Äòb‚Äô, ‚Äòwork hard‚Äô],100 , 200, ‚ÄúSuccess‚Äù, (200,300, ‚ÄúHundreds‚Äù)]
l2 =[1,2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'work hard'],100 , 200, "Success", (200,300, "Hundreds")]
print(l2)
print(l2[4][2])
print(l2[5][:])

print(l2[1:5])
print(l2[5])
print(l2[5][3:-1])
print(l2[-1])

print(l2[-4: -10])
print(l2[7][2])
print(l2[-7][2:])
print(l2[ :- 3])
print(l2[-3:])

[1, 2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100, 200, 'Success', (200, 300, 'Hundreds')]
50
Python
[2, 3, 5, (90, 40, 50, 10)]
Python
ho
(200, 300, 'Hundreds')
[]
work hard
thon
[1, 2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100]
[200, 'Success', (200, 300, 'Hundreds')]

In [ ]:
print(l2[2][:])
print(l2[-4, -3])

TypeError: 'int' object is not subscriptable

In [ ]:
#Q.11.
marks = input("Enter the marks")
if (not marks.isalnum() and  not marks.isalpha()) or marks.isdigit():
  marks=int(marks)
  if marks > 100 and marks < 0:
   print("Incorrect marks")
  elif marks >=80:
   print("Distinction")
  elif marks >=70 and marks <80:
   print("First Class")
  elif marks >=50 and marks <70:
   print("Second Class")
  elif marks>=35 and marks < 50:
   print("Pass")
  else:
   print("Fail")
else:
  print("Enter correct marks")

Enter the marks89
Distinction

In [ ]:
#Using function
marks=input("Enter the marks")
def std_marks(marks):

  if (not marks.isalnum() or not marks.isalpha()) or marks.isdigit():
   marks=int(marks)
   if marks > 100 or marks < 0:
    return("Incorrect marks")
   elif marks >=80:
    return("Distinction")
   elif marks >=70 and marks <80:
    return("First Class")
   elif marks >=50 and marks <70:
    return("Second Class")
   elif marks>=35 and marks < 50:
    return("Pass")
   else:
    return("Fail")
  else:
   return("Enter correct marks")

Enter the marks89

In [ ]:
std_marks(marks)

'Distinction'

In [ ]:
#Q 12.
salary=float(input("Enter the Salary in LPA : "))
Rating=input("Enter the Rating").upper()

if salary <=5:
  if Rating=='A':
    inc=16
  elif Rating=='B':
    inc=12
  elif Rating=='C':
    inc=10
  else:
    inc=6

elif salary <=10:
  if Rating=='A':
    inc=14
  elif Rating=='B':
    inc=10
  elif Rating =='C':
    inc=8
  else:
    inc=6

elif salary<=15:
  if Rating=='A':
    inc=8
  elif Rating=='B':
    inc=6
  elif Rating=='C':
     inc=4
  else:
     inc=0

else:
  if Rating=='A':
    inc=7
  elif Rating=='B':
    inc=5
  elif Rating=='C':
    inc=4
  else:
    inc=0

new_salary=salary+(salary*inc/100)

print("Increment ",inc ,"%" )
print("New Salary" , new_salary, "LPA")

In [ ]:
#Using Function
salary=float(input("Enter the Salary in LPA : "))
Rating=input("Enter the Rating").upper()
def new_salary(salary,Rating):
 new_salary=salary+(salary*inc/100)
 return new_salary
if salary <=5:
    if Rating=='A':
     inc=16
    elif Rating=='B':
     inc=12
    elif Rating=='C':
      inc=10
    else:
      inc=6

elif salary <=10:
    if Rating=='A':
      inc=14
    elif Rating=='B':
      inc=10
    elif Rating =='C':
      inc=8
    else:
      inc=6

elif salary<=15:
    if Rating=='A':
      inc=8
    elif Rating=='B':
      inc=6
    elif Rating=='C':
      inc=4
    else:
      inc=0

else:
    if Rating=='A':
      inc=7
    elif Rating=='B':
      inc=5
    elif Rating=='C':
      inc=4
    else:
      inc=0

Enter the Salary in LPA : 8
Enter the RatingB

In [ ]:
new_salary(salary,Rating)

8.8

In [ ]:
#13.

core_fee = 200000
analytics_extra = 0.10 * core_fee
hostel_fee = 200000
food_per_month = 2000
transport_per_semester = 13000

subjects = ["HR", "Finance", "Marketing", "DS"]
subject = input("Choose your subject (HR/Finance/Marketing/DS): ")
analytics = input("Do you want analytics? (Y/N): ").upper()
total = core_fee


if analytics == 'Y':
    if subject != 'DS':
        total += analytics_extra
    else:
        print("Analytics not available for DS, only core fee will be charged.")

hostel = input("Do you want hostel? (Y/N): ").upper()
if hostel == 'Y':
    total += hostel_fee

food_months = int(input("How many months of food?: "))
total += food_months * food_per_month

transport = input("Transportation (semester/annual): ").lower()
if transport == 'semester':
    total += transport_per_semester * 2
elif transport == 'annual':
    total += transport_per_semester * 2

print("Total Annual Cost: Rs.", total)

In [ ]:
#### Q.14 Digitalize the book allotment process for school. Charges are mentioned here in the given table:
standard=input("Enter the standard : ")
subject=input("Enter the subject : ")

if standard in range(1,5):
  if subject=="Hindi" or subject=='Marathi':
    price=60
  elif subject=="English":
    price=80
  elif subject=="Science":
    price=90
  else:
    price=100

elif standard in range(5,9):
  if subject=="Hindi" or subject=='Marathi' or subject=='English':
    price=100
  elif subject=="Science":
    price=120
  else:
    price=140

else:
   if subject=="Hindi" or subject=='Marathi' or subject=='English':
    price=150
   elif subject=="Science":
    price=200
   else:
    price=250

pages=input("Enter how many pages notebook do you need 100 or 200: ")
notebook = input("Enter which type do you need SQ/4Lines/2Lines/Single Line/A4 : ")
Quantity=int(input("Enter the Quantity : "))
if pages==100:
  if notebook=="SQ":
    rate=40
  elif notebook=="4Lines":
    rate=30
  elif notebook=="2Lines":
    rate=30
  elif notebook=="single line":
    rate=60
  else:
    rate=100

else:
  if notebook=="SQ":
    rate=70
  elif notebook=="4Lines":
    rate=50
  elif notebook=="2Lines":
    rate=50
  elif notebook=="single line":
    rate=100
  else:
    rate=180
  print("="*50)
  print("Bill")
  print(f"Standard : {standard}, Subject : {subject}, Price : {price}, Pages : {pages}, Notebook : {notebook}, Rate : {rate}")
  print("Total bill amount is : ", (price+(Quantity*rate)))

Enter the standard : 5
Enter the subject : english
Enter how many pages notebook do you need 100 or 200: 100
Enter which type do you need SQ/4Lines/2Lines/Single Line/A4 : 2
==================================================
Bill
Standard : 5, Subject : english, Price : 250, Pages : 100, Notebook : 2, Rate : 180
Total bill amount is :  430

In [ ]:
#OR
#Using Dictionary
pages=int(input("Enter how many pages notebook do you need 100 or 200: "))
notebook = input("Enter which type do you need SQ/4Lines/2Lines/Single Line/A4 : ")

notebook_rate = {
    100: {'Sq': 40, '4Lines': 30, '2Lines': 30, 'Single Line': 60, 'A4': 100},
    200: {'Sq': 70, '4Lines': 50, '2Lines': 50, 'Single Line': 100, 'A4': 180}
}

rate = notebook_rate[pages][notebook]
print(rate)

standard=int(input("Enter the standard : "))
subject=input("Enter the subject : ")

books_price={
    (1,4):{'Hindi':60,'Marathi':60,'English':80,'Science':90,'Maths':100},
    (5,8):{'Hindi':100,'Marathi':100,'English':100,'Science':120,'Maths':140},
    (9,10):{'Hindi':150,'Marathi':150,'English':150,'Science':200,'Maths':250}
}
price=books_price[(standard,standard)][subject]
print(price)

print("Total Bill  : ", price+rate)

Enter how many pages notebook do you need 100 or 200: 100
Enter which type do you need SQ/4Lines/2Lines/Single Line/A4 : Sq
40
Enter the standard : 8
Enter the subject : English
Total Bill  :  130

In [ ]:

books_price = {
    (1, 4): {'Hindi': 60, 'Marathi': 60, 'English': 80, 'Science': 90, 'Maths': 100},
    (5, 8): {'Hindi': 100, 'Marathi': 100, 'English': 100, 'Science': 120, 'Maths': 140},
    (9, 10): {'Hindi': 150, 'Marathi': 150, 'English': 150, 'Science': 200, 'Maths': 250}
}

notebook_rate = {
    100: {'Sq': 40, '4Lines': 30, '2Lines': 30, 'Single Line': 60, 'A4': 100},
    200: {'Sq': 70, '4Lines': 50, '2Lines': 50, 'Single Line': 100, 'A4': 180}
}

total = 0

while True:

    print("1. Buy notebook")
    print("2. Buy book")
    print("3. Exit")

    choice = int(input("Enter your choice: "))


    if choice == 1:
        pages = int(input("Enter pages (100 or 200): "))
        ntype = input("Enter type (Sq/4Lines/2Lines/Single Line/A4): ")
        qty = int(input("Enter quantity: "))

        rate = notebook_rate[pages][ntype]
        total += rate * qty
        print("Notebook added to cart")


    elif choice == 2:
        standard = int(input("Enter standard: "))
        subject = input("Enter subject: ")
        quantity=int(input("Enter the quantity : "))
        for (start, end), books in books_price.items():
            if start <= standard <= end:
                total += quantity*books[subject]
                print("Book added to cart")
                break


    elif choice == 3:
      break

    else:
        print("Invalid choice")


print("="*60)
print("{:^60}".format("Welcome Books Shop"))
print("="*60)

print("{:^10}".format("Item"),"{:^20}".format("Quantity"),"{:^10}".format("Rate"), "{:^10}".format("Price"))
print("{:^10}".format("Notebook"),"{:^20}".format(qty),"{:^10}".format(rate), "{:^10}".format(rate*qty))
print("{:^10}".format("Book"),"{:^20}".format(quantity),"{:^10}".format(books[subject]),"{:^10}".format(books[subject]*quantity))


print("="*60)
print(( "{:^30}".format("Total")), "{:^35}".format(total))

1. Buy notebook
2. Buy book
3. Exit
Enter your choice: 1
Enter pages (100 or 200): 100
Enter type (Sq/4Lines/2Lines/Single Line/A4): A4
Enter quantity: 3
Notebook added to cart
1. Buy notebook
2. Buy book
3. Exit
Enter your choice: 2
Enter standard: 4
Enter subject: Hindi
Enter the quantity : 3
Book added to cart
1. Buy notebook
2. Buy book
3. Exit
Enter your choice: 3
============================================================
                     Welcome Books Shop
============================================================
   Item          Quantity          Rate      Price
 Notebook           3              100        300
   Book             3               60        180
============================================================
            Total                              480

In [ ]:
books_price = {
    (1, 4): {'Hindi': 60, 'Marathi': 60, 'English': 80, 'Science': 90, 'Maths': 100},
    (5, 8): {'Hindi': 100, 'Marathi': 100, 'English': 100, 'Science': 120, 'Maths': 140},
    (9, 10): {'Hindi': 150, 'Marathi': 150, 'English': 150, 'Science': 200, 'Maths': 250}
}

notebook_rate = {
    100: {'Sq': 40, '4Lines': 30, '2Lines': 30, 'Single Line': 60, 'A4': 100},
    200: {'Sq': 70, '4Lines': 50, '2Lines': 50, 'Single Line': 100, 'A4': 180}
}


# 1Ô∏è Calculation Function
def calculate(choice, total, bill, data):

    if choice == 1:
        pages, ntype, qty = data
        rate = notebook_rate[pages][ntype]
        price = rate * qty
        total += price
        bill.append(("Notebook-" + ntype, qty, rate, price))

    elif choice == 2:
        standard, subject, quantity = data
        for (start, end), books in books_price.items():
            if start <= standard <= end:
                rate = books[subject]
                price = rate * quantity
                total += price
                bill.append((subject, quantity, rate, price))
                break

    return total, bill


# 2Ô∏è Input Function
def user_input():
    total = 0
    bill = []

    while True:
        print("\n1. Buy notebook")
        print("2. Buy book")
        print("3. Exit")

        choice = int(input("Enter your choice: "))

        if choice == 1:
            pages = int(input("Enter pages (100 or 200): "))
            ntype = input("Enter type (Sq/4Lines/2Lines/Single Line/A4): ")
            qty = int(input("Enter quantity: "))

            total, bill = calculate(choice, total, bill, (pages, ntype, qty))
            print("Notebook added to cart")

        elif choice == 2:
            standard = int(input("Enter standard: "))
            subject = input("Enter subject: ")
            quantity = int(input("Enter the quantity : "))

            total, bill = calculate(choice, total, bill, (standard, subject, quantity))
            print("Book added to cart")

        elif choice == 3:
            break

        else:
            print("Invalid choice")

    return total, bill


# 3Ô∏è Print Bill Function
def print_bill(total, bill):

    print("\n" + "="*60)
    print("{:^60}".format("Welcome Books Shop"))
    print("="*60)

    print("{:^15}{:^15}{:^15}{:^15}".format("Item", "Quantity", "Rate", "Price"))

    for item, qty, rate, price in bill:
        print("{:^15}{:^15}{:^15}{:^15}".format(item, qty, rate, price))

    print("="*60)
    print("{:^30}{:^30}".format("Total Amount", total))


# üîπ Main Program
total, bill = user_input()
print_bill(total, bill)

1. Buy notebook
2. Buy book
3. Exit
Enter your choice: 1
Enter pages (100 or 200): 200
Enter type (Sq/4Lines/2Lines/Single Line/A4): A4
Enter quantity: 4
Notebook added to cart

1. Buy notebook
2. Buy book
3. Exit
Enter your choice: 2
Enter standard: 6
Enter subject: Hindi
Enter the quantity : 5
Book added to cart

1. Buy notebook
2. Buy book
3. Exit
Enter your choice: 1
Enter pages (100 or 200): 100
Enter type (Sq/4Lines/2Lines/Single Line/A4): 4Lines
Enter quantity: 2
Notebook added to cart

1. Buy notebook
2. Buy book
3. Exit
Enter your choice: 3

============================================================
                     Welcome Books Shop
============================================================
     Item         Quantity         Rate           Price
  Notebook-A4         4             180            720
     Hindi            5             100            500
Notebook-4Lines       2             30             60
============================================================
         Total Amount                      1280

In [ ]:

#17. Create a=100
a = 100
#Convert a to string
str_a = str(a)

In [ ]:
#Convert a to list
list_a=list(a)

TypeError: 'int' object is not iterable

In [ ]:
#Convert a to tuple
tuple_a = tuple(a)

TypeError: 'int' object is not iterable

In [ ]:
# Convert a to dict
dict_a = dict(a)

TypeError: 'int' object is not iterable

In [ ]:
# Convert a to set
set_a = set(a)

TypeError: 'int' object is not iterable

In [ ]:
# Convert to float Observe the errors and note it down for all conversions.
float_a = float(a)
float_a

In [ ]:
#8. Create city = ‚ÄúPune‚Äù
city="Pune"

In [ ]:
#Convert to int
int_city=int(city)

ValueError: invalid literal for int() with base 10: 'Pune'

In [ ]:
# Convert float
float_city=float(city)

ValueError: could not convert string to float: 'Pune'

In [ ]:
# Convert list
list_city=list(a)

TypeError: 'int' object is not iterable

In [ ]:
# Convert tuple
tuple_city=tuple(city)

In [ ]:
# Convert dict
dict_city=dict(city)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [ ]:
# Convert set ¬∑ Obsert errors and note it down for all conversions
set_city=set(city)

In [ ]:
#9. Create a list as marks = [20,18,15,17,18]
marks=[20,18,15,17,18]
# Convert to int
int_marks=int(marks)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [ ]:
# Convert float
float_marks=float(marks)

TypeError: float() argument must be a string or a real number, not 'list'

In [ ]:
# Convert list
list_marks=list(marks)
list_marks

[20, 18, 15, 17, 18]

In [ ]:
# Convert tuple
tuple_marks=tuple(marks)
tuple_marks

(20, 18, 15, 17, 18)

In [ ]:
# Convert dict
dict_marks=dict(marks)
dict_marks

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [ ]:
# Convert set ¬∑ observe : errors and note it down for all conversions
set_marks=set(marks)
set_marks

{15, 17, 18, 20}

####10. Create the empty list snames ¬∑

In [ ]:
# Add value 20 in the list using append
snames=[]
a=snames.append(20)
print(snames)

[20, 30, 20]

In [ ]:
# Add value 30 in the list using extend
snames.extend([30])
print(snames)

[20, 30]

In [ ]:
# Add values in the list using append
snames.append([40,50])
print(snames)

[20, 30, [40, 50], [40, 50]]

In [ ]:
# Add value ‚ÄúWORK" in the list using extend
snames.extend(["WORK"])

In [ ]:
# Create a new list combo having the values [1, ‚Äòa‚Äô, ‚Äòb‚Äô ,2 , 3]
combo=[1,'a','b',2,3]

In [ ]:
# Add sname to combo using addition operator
new_combo = combo + snames

In [ ]:
# Add combo to snames using append
snames.append(combo)

In [ ]:
# Add combo to snames using extend.
snames.extend(combo)

In [ ]:
snames

[20, 30, [40, 50], 'WORK', [1, 'a', 'b', 2, 3], 1, 'a', 'b', 2, 3]

####11. Create one list l1 having two elements and l3 having 7 elements. Now at 4th position add l1

In [ ]:
l1 = [100, 200]
l3 = [1, 2, 3, 4, 5, 6, 7]
l3.insert(3, l1)
print(l3)

[1, 2, 3, [100, 200], 4, 5, 6, 7]

In [ ]:
#12. Collection is the list having values [1,2,3,[‚Äòa‚Äô, ‚Äòb‚Äô, ‚Äòc‚Äô], 100, ‚ÄòNisha‚Äô, 20.50, 90.10 ] if the data is in integer or float then multiply with 5.
collection = [1, 2, 3, ['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10]
for i in range(len(collection)):
    if isinstance(collection[i], (int, float)):
        collection[i] *= 5
print(collection)
# From the collection delete the record for ‚ÄúNisha‚Äù
collection.remove("Nisha")
print(collection)
# Find the location of 20.50
location = collection.index(102.5)
print(location)

[5, 10, 15, ['a', 'b', 'c'], 500, 'Nisha', 102.5, 450.5]
[5, 10, 15, ['a', 'b', 'c'], 500, 102.5, 450.5]
5

In [ ]:
#13. Create a comprehensive list for square upto 10
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#14. Create the comprehensive list to find number divisible by 13 till 200
[i for i in range(1,201) if i%13==0]

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [ ]:
#15. Create the list which is divisible by 4 from 300 to 400
[i for i in range(300,401) if i%4==0]

[300,
 304,
 308,
 312,
 316,
 320,
 324,
 328,
 332,
 336,
 340,
 344,
 348,
 352,
 356,
 360,
 364,
 368,
 372,
 376,
 380,
 384,
 388,
 392,
 396,
 400]

In [ ]:
#16. Create a comprehensive list to generate list up to x, y as a number. For example if x = 3 list will be x_list = [0,1,2] and y=2 then y_list =[0,1]
#Then generate a new list based on all combination of x and y.
#For example: if x = 1 and y =2 then x_list = [0] and y_list = [0,1]
#And output will be [[0,0],[0,1]]
#If x=2 and y = 2 then output will be [[0,0],[0,1][1,0],[1,1]]
x = 2
x_list = [i for i in range(x)]
y = 2
y_list = [j for j in range(y)]
result = [[i, j] for i in x_list for j in y_list]
print(result)

[[0, 0], [0, 1], [1, 0], [1, 1]]

In [ ]:
#Q.22
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

# Union
print("Union:", s1 | s2)

# Intersection
print("Intersection:", s1 & s2)

# Difference (s1 - s2)
print("Difference (s1 - s2):", s1 - s2)

# Difference (s2 - s1)
print("Difference (s2 - s1):", s2 - s1)

# Symmetric Difference
print("Symmetric Difference:", s1 ^ s2)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (s1 - s2): {1, 2, 3}
Difference (s2 - s1): {8, 6, 7}
Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [ ]:
#Q.23)
l1 = [3, 4, 5, 9, 10]

# Convert list to set
l1_set = set(l1)

# Union
print("Union:", s1 | l1_set)

# Intersection
print("Intersection:", s1 & l1_set)

# Difference
print("Difference (s1 - l1):", s1 - l1_set)

# Symmetric Difference
print("Symmetric Difference:", s1 ^ l1_set)

Union: {1, 2, 3, 4, 5, 9, 10}
Intersection: {3, 4, 5}
Difference (s1 - l1): {1, 2}
Symmetric Difference: {1, 2, 9, 10}

In [ ]:
#24. Ask user to enter the name and DOB and generate the password based on first name 4 characters and @ddmm. For example name = SURESH and DOB = 05-05-1978 then password will be SURE@0505
name=input("Enter the name :")
DOB=input("Enter the DOB")

password=name[0:4]+"@"+DOB[0:2]+DOB[3:5]
print(password)

Enter the name :SURESH
Enter the DOB05-05-1978
SURE@0505

In [ ]:
#25. Ask user to enter the name and DOB and generate the password based on
#first name 4 characters and last 4 digits of DOB or year @yyyy.
#For example name = SURESH and DOB = 05-05-1978
#then password will be SURE@1978
name=input("Enter the name :")
DOB=input("Enter the DOB")

password=name[0:4]+"@"+DOB[-4:]
print(password)

Enter the name :SURESH
Enter the DOB05-05-1978
SURE@1978

In [ ]:
#26

for i in range(5):
  print('* ' *i)

*
* *
* * *
* * * *

In [ ]:
#Q.27
for i in range(4, 0, -1):
    print('*' * i)

****
***
**
*

In [ ]:
#Q.28
Str_val = "ABCD"

for i in range(1, len(Str_val) + 1):
    print(" ".join(Str_val[:i]))

A
A B
A B C
A B C D

In [ ]:
#Q.29
Str_val = "ABCD"

for i in range(len(Str_val)):
    print(Str_val[i] * (i + 1))

A
BB
CCC
DDDD

In [ ]:
#Q.30)
for i in range(1, 5):
    print(str(i) * i)

1
22
333
4444

In [ ]:
#Q.31)
Val = "ABCD"
rev = Val[::-1]

for i in range(1, len(rev) + 1):
    print(rev[:i])

D
DC
DCB
DCBA

In [ ]:
#Q.32)
s = input("Enter the string: ")
rev = s[::-1]

for i in range(1, len(rev) + 1):
    print(rev[:i])

Enter the string: Bhakti
i
it
itk
itka
itkah
itkahB

In [ ]:
#Q.33)
odd_list = []
for i in range(1, 11):
    if i % 2 != 0:
        odd_list.append(i)

print(odd_list)

odd_list = [i for i in range(1, 11) if i % 2 != 0]
print(odd_list)

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

In [ ]:
#Q.34)
even_list = []

for i in range(200, 251):
    if i % 2 == 0:
        even_list.append(i)

print(even_list)

[200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250]

In [ ]:
#Q.35)
List2 = [2, 70, 'work', 'para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3, 10, 302.5]

for item in List2:
    print(item * 2)

4
140
workwork
parapara
5.0
[1, 2, 3, 1, 2, 3]
(1, 2, 1, 2)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [ ]:
#Q.36)
List2 = [2, 70, 'work', 'para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3, 10, 302.5]
list3 = []
for item in List2:
    list3.append(item * 2)
print(list3)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

####Q.37)Create a function to accept marks from user utilize exception concept to validate proper marks.

#####Q.38)Create a function to validate user first name/last name. User first name/last name should contain only characters. No special characters, numbers, space in name

In [ ]:
fname=input(" Enter First Name : ")
lname=input(" Enter Last Name : ")
def check(name):
  if name.isalpha():
    return "valid name"
  else:
    return "Invalid"
print(check(fname))
print(check(lname))

 Enter First Name : 34
 Enter Last Name : pandey
Invalid
valid name

#####Q.39)Create a function to accept mobile number. Mobile number should contain 10 digits. No Special character, alphabets and space.

In [ ]:
mobile=input("Enter the mobile number :")
def check(mobile):
    if mobile.isdigit() and len(mobile)==10:
      return "Valid Number"
    else:
      return "Enter the valid Number"
print(check(mobile))

Enter the mobile number :890abcg567
Enter the valid Number

#####Q.40)Create a function to generate auto-password based on specific person details. Ask user to enter name, DOB. And password must be First name 4 characters and year of birth.

In [ ]:
name=input("Enter the name :")
dob=input("Enter the DOB :")

def createpassword(name,dob):
  name=name[:4]
  year=dob[-4:]
  password=name+"@"+year
  return password
print(createpassword(name,dob))

Enter the name :Aditi
Enter the DOB :12-12-2012
Adit@2012

#####Q.41. Create a empty dictionary and ask user to enter values as name, DOB, mobile number add all the details in dictionary with customer number as 1 for first time. If user try to enter another value, then number should increase as 2 with new details and previous values should not change.For example:2: {name : "Sumedh", "DOB": "02-02-2002" , "mobile": "1234123433"}

In [ ]:
def add_student(s):
    name = input("Enter the name: ")
    dob = input("Enter the DOB: ")
    mobile = input("Enter the mobile number: ")

    roll = len(s) + 1
    s[roll] = {
        "name": name,
        "DOB": dob,
        "Mobile": mobile
    }
students = {}
add_student(students)
add_student(students)
print(students)

Enter the name: Rahul
Enter the DOB: 03-06-1967
Enter the mobile number: 1234123423
Enter the name: Sachin
Enter the DOB: 09-08-1967
Enter the mobile number: 5678567890
{1: {'name': 'Rahul', 'DOB': '03-06-1967', 'Mobile': '1234123423'}, 2: {'name': 'Sachin', 'DOB': '09-08-1967', 'Mobile': '5678567890'}}

In [ ]:
def add_students(s):
    while True:
        name = input("Enter name: ")
        dob = input("Enter DOB: ")
        mobile = input("Enter mobile: ")

        roll = len(s) + 1
        s[roll] = {
            "name": name,
            "DOB": dob,
            "Mobile": mobile
        }

        choice = input("Add another student? (y/n): ")
        if choice.lower() != 'y':
            break
students = {}
add_students(students)
print(students)

Enter the name :Rahul
Enter the DOB3-07-1987
Enter the mobile number5678567890

#####Q.44)Create a table cust_info as sr_no, name, DOB, mobile. Ask user to enter the information from python code. Validate all fields and after validation insert records in the table.

#####Q.45)Dict1= {‚ÄúKey‚Äù: {‚Äúsubkey‚Äù:20} , ‚Äúk2‚Äù:{‚Äúsub2‚Äù : 5}, ‚Äúk3‚Äù : {‚Äúsub4‚Äù :16}, ‚Äúk4‚Äù : {‚Äúsub4‚Äù : 6}} Sort elements based on values.Output must be {, ‚Äúk2‚Äù:{‚Äúsub2‚Äù : 5}, ‚Äúk4‚Äù : {‚Äúsub4‚Äù : 6}, ‚Äúk3‚Äù : {‚Äúsub4‚Äù : 16}, ‚ÄúKey‚Äù:{‚Äúsubkey‚Äù:20}}

In [ ]:
my_list=[{'key':{'subkey' : 20}},{'key':{'subkey' : 5}},{'key':{'subkey' : 16}}]
print("Original List: ")
print(my_list)
type(my_list)
for i in my_list:
  if i['key']['subkey']==10:

    print(my_list)

#####Q.46)Create a function to calculate age till now.

In [ ]:
from datetime import datetime
a=datetime.now()
DOB=datetime(2003,3,25)
def cal_age():
  return a.year-DOB.year
print(cal_age())

23

##### Q.47)Create a function to check age eligibility for given customer based on DOB. Function will take two input DOB and ELIGIBILITY age.

In [ ]:
from datetime import date
from datetime import time
DOB=(input("Enter your date of birth : "))
dob=datetime.strptime(DOB,"%d-%m-%Y")
eligibility_age=int(input("Enter the eligible age"))
def eligibility_check(dob,eligibility_age):

  if a.year-dob.year >=eligibility_age:
      print("eligible")
  else:
      print("Not eligible")
  return a.year-dob.year
print(eligibility_check(dob,eligibility_age))

Enter your date of birth : 25-03-2003
Enter the eligible age18
eligible
23

#####Q.48)Create a function to check if string is palindrome or not ? For example, if input is NITIN then reverse of the string is same then it is palindrome. If input is ANIL then reverse is LINA which is not same then it is not palindrome.

In [ ]:
def check_palindrome(string):
  if string == string[::-1]:
    print("Palindrome")
  else:
    print(" Not Palindrome")

In [ ]:
check_palindrome("nitin")

Palindrome

In [ ]:
check_palindrome('Anil')

 Not Palindrome

#####49. Create a function to generate a Fibonacci Series. 0 1 1 2 3 5 8 13 21 34 ‚Ä¶.. upto 100

In [ ]:
def fibonacci(n):
  a=0
  b=1

  for i in range(n):
    print(a,end =" ")
    a,b = b, a+b

In [ ]:
fibonacci(12)

0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:
#50.Write a code to generate factorial of the number For example: factorial of 5 = 5! = 5*4*3*2*1
fact = 1
for i in range(1,7):
    fact = fact * i


print(fact)

720

In [ ]:
#using function
def factorial(n):
  fact=1
  for i in range(1,n+1):
    fact=fact*i


  print(fact)

In [ ]:
factorial(7)

5040

In [ ]:
#51. Write a program to find largest number in the list.
list1=[90,78,56,98,100]
print(max(list1))

100

In [ ]:
list2=[90,87,88,95]
def max_list(list2):
  a=max(list2)
  print(a)

In [ ]:
max_list(list2)

95

In [ ]:
#52. Write a program to check frequency of each element in the list.
lst = [1, 2, 2, 3, 3, 3, 4]
freq = {x: lst.count(x) for x in lst}

print(freq)

{1: 1, 2: 2, 3: 3, 4: 1}

In [ ]:
#53. There are two string l1 =[ 1,2,3,4,5] and l2 =[3,2,8,7,9] then write a program to find common elements in the list.
l1=[1,2,3,4,5]
l2=[3,2,8,7,9]

common = list(set(l1) & set(l2))
print(common)

[2, 3]