In [ ]:
#Q.1)
squares = [x**2 for x in range(1, 11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#Q.2)
evens = [x for x in range(1, 51) if x % 2 == 0]
evens

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [ ]:
#Q.3)
words = ["apple", "banana"]
upper = [w.upper() for w in words]
upper

['APPLE', 'BANANA']

In [ ]:
#Q.4)
nums = [-3, 5, -1, 7]
positives = [x for x in nums if x > 0]
positives

[5, 7]

In [ ]:
#Q.5)
pairs = [(x, x**2) for x in range(1, 6)]
pairs

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
#Q.6)
s = "education"
vowels = [ch for ch in s if ch.lower() in "aeiou"]
vowels

['e', 'u', 'a', 'i', 'o']

In [ ]:
#Q.7)
matrix = [[1, 2], [3, 4], [5, 6]]
flat = [x for row in matrix for x in row]
flat

[1, 2, 3, 4, 5, 6]

In [ ]:
#Q.8)
nums = [-2, 4, -1, 6]
clean = [x if x >= 0 else 0 for x in nums]
clean

[0, 4, 0, 6]

In [ ]:
#Q.9)
words = ["hello", "python"]
lengths = [len(w) for w in words]
lengths

[5, 6]

In [ ]:
#Q.10)
words = ["Apple", "banana", "Avocado"]
filtered = [w for w in words if not w.lower().startswith("a")]
filtered

['banana']

In [ ]:
#Q.11)
nums = [1, 2, 3, 4]
labels = ["even" if x % 2 == 0 else "odd" for x in nums]
labels

['odd', 'even', 'odd', 'even']

In [ ]:
#Q.12)
nums = [x for x in range(1, 101) if x % 3 == 0 and x % 5 == 0]
nums

[15, 30, 45, 60, 75, 90]

In [ ]:
#Q.13)
table = [[i * j for j in range(1, 6)] for i in range(1, 6)]
table

[[1, 2, 3, 4, 5],
 [2, 4, 6, 8, 10],
 [3, 6, 9, 12, 15],
 [4, 8, 12, 16, 20],
 [5, 10, 15, 20, 25]]

In [ ]:
#Q.14)
d = {"a": 1, "b": 2}
keys = [k for k in d]
keys

['a', 'b']

In [ ]:
#Q.15)
s = "a1b2c3"
digits = [ch for ch in s if ch.isdigit()]
digits

['1', '2', '3']

In [ ]:
#Q.16)
s = "hello world"
no_spaces = "".join([ch for ch in s if ch != " "])
no_spaces

'helloworld'

In [ ]:
#Q.17)
s = "programming"
duplicates = [x for x in set(s) if s.count(x) > 1]
duplicates

['g', 'r', 'm']

In [ ]:
#Q.18)
sentences = ["Hello world", "Python is fun"]
words = [word for s in sentences for word in s.split()]
words

['Hello', 'world', 'Python', 'is', 'fun']

In [ ]:
#Q.19)
lst = [1, 2, 2, 3]
unique = [x for x in lst if lst.count(x) == 1]
unique

[1, 3]

In [ ]:
#Q.20)
A = [1, 2]
B = ['a', 'b']
pairs = [(x, y) for x in A for y in B]
pairs

[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b')]

In [ ]:
#Lambda Functions
#1. Write a lambda to add two numbers.
addition= lambda x,y:x+y
addition(4,5)

9

In [ ]:
#Q.2) Create a lambda to check if a number is even.
even=lambda x: x%2==0
even(6)

True

In [ ]:
#Q.3).Write a lambda to get the last character of a string.
char= lambda x : x[-1]
char('Hello')

'o'

In [ ]:
 #Q.4) Use lambda with map() to square every number in a list.
squares=lambda x:x**2
lst=[1,2,3,4]
print(list(map(squares,lst)))

[1, 4, 9, 16]

In [ ]:
#Q.5) Use lambda with filter() to get only odd numbers from a list.
odds=lambda x: x%2!=0
lst=[1,2,3,4]
print(list(filter(odds,lst)))

#OR
list(filter(lambda x: x % 2 != 0, [1, 2, 3, 4]))

[1, 3]

[1, 3]

In [ ]:
lst=(14,10,5,90)
sorted(lst, key=lambda x: x[1])

TypeError: 'int' object is not subscriptable

In [ ]:
#Q.7) Create a lambda to check if a string is a palindrome.
stri=lambda x:x if x[::-1]==x else print("Not Palindrome")
stri('Madam')

Not Palindrome

In [ ]:
#Q.8)
max_three = lambda a, b, c: max(a, b, c)
max_three(10, 20, 30)

30

In [ ]:
#Q.9)
rev=lambda x:x[::-1]
print(rev("Hello"))

olleH

In [ ]:
#Q.10)
list(map(lambda x: int(x), ["1", "2", "3"]))

[1, 2, 3]

In [ ]:
#Q.11)
list(filter(lambda x: x != "", ["hi", "", "hello"]))

['hi', 'hello']

In [ ]:
#Q.12)
from functools import reduce
factorial = lambda n: reduce(lambda a, b: a * b, range(1, n + 1), 1)
factorial(5)

120

In [ ]:
#Q.13)
larger = lambda a, b: a if a > b else b
larger(5,9)

9

In [ ]:
#Q.14)
div=lambda x : x%5==0
div(78)

False

In [ ]:
#Q.15)
list(map(lambda x: x + 10, [1, 2, 3]))

[11, 12, 13]

In [ ]:
#Q.16)
data = [
    {"name": "A", "age": 25},
    {"name": "B", "age": 18},
    {"name": "C", "age": 30}
]

sorted_data = sorted(data, key=lambda x: x["age"])
print(sorted_data)

[{'name': 'B', 'age': 18}, {'name': 'A', 'age': 25}, {'name': 'C', 'age': 30}]

In [ ]:
#Q.17)
vow=lambda x :x.lower() in "aeiou"
print(vow("a"))

True

In [ ]:
#Q.18)
words=["MobilePhone",'Chair','Charger']
list(filter(lambda x: len(x) >5,words))

['MobilePhone', 'Charger']

In [ ]:
#Q.19)
area = lambda r: 3.14159 * r * r
area(8)

201.06176

In [ ]:
#Q.20)
lst = [1, 2, 2, 3, 4, 4, 5]

result = list(filter(lambda x: lst.count(x) == 1, lst))
print(result)

[1, 3, 5]

In [ ]:
#Q.21)
from functools import reduce

nums = [1, 2, 3, 4]

product = reduce(lambda a, b: a * b, nums)
print(product)

24

In [ ]:
#Q.22)
abs_val = lambda x: x if x >= 0 else -x

print(abs_val(-10))

10

In [ ]:
#Q.23)
words = ["python", "is", "awesome"]

result = sorted(words, key=lambda x: len(x))
print(result)

['is', 'python', 'awesome']

In [ ]:
#Q.24)
s = "This ROOM is Noisy"

result = list(filter(lambda ch: ch.isupper(), s))
print(result)

['T', 'R', 'O', 'O', 'M', 'N']

In [ ]:
#Q.25)
even= lambda x : x**2 if x%2==0 else x**3
even(15)

3375

In [ ]:
#Q.26)
celsius = [0, 20, 30]

fahrenheit = list(map(lambda c: (c * 9/5) + 32, celsius))
print(fahrenheit)

[32.0, 68.0, 86.0]

In [ ]:
#Q.27)
is_anagram = lambda a, b: sorted(a.lower()) == sorted(b.lower())

print(is_anagram("listen", "silent"))

True

In [ ]:
#Q.28)
mixed = [1, "a", 3.5, "hello", 7]

result = list(filter(lambda x: isinstance(x, (int, float)), mixed))
print(result)

[1, 3.5, 7]

In [ ]:
#Q.29)
nums = [1, -2, 3, 4]

result = any(map(lambda x: x < 0, nums))
print(result)

True

In [ ]:
#Q.30) Use lambda to generate a function that multiplies any number by n
mul= lambda n: lambda x: x * n
times = mul(5)
print(times(10))

50

In [ ]:
#Password
word=input("Enter the word: ")
result=" "
for i in range(len(word),0,-2):
  result+=word[max(0,i-2):i]
print("Generated Password: ",result)